@font-face {
  font-family: "CustomFont";
  src: url("/asset/fonts/Inter-Medium.ttf") format("ttf");
}
@font-face {
  font-family: "contentFont";
  src: url("/asset/fonts/Montserrat-Regular.ttf") format("ttf");
}

body {
  font-family: "contentFont", sans-serif;
  /* background-color: black; */
}

p {
  margin: 0;
  padding: 0;
}

.navbg {
  background-color: #02d9cbaf;
}

.cardbtn {
  background-color: #02d9ca;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border: none;
  padding: 2px 10px;
  border-radius: 5px;
}

.headertitle {
  color: white;
  font-family: "CustomFont", sans-serif;
  font-weight: bold;
  letter-spacing: 5px;
}

.herodiv {
  background-image: url("/asset/image/chef.jpg");
  background-size: cover;

  height: 100vh;
  width: 100%;
}

.herobar {
  height: 10px;
  width: 120px;
  background-color: #02d9ca;
}
.herobtn {
  padding: 5px 20px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  width: fit-content;
  font-size: 22px;
  font-weight: bold;
  cursor: pointer;
  background-color: #02d9ca;
}
.herobody {
  padding: 120px 85px;
}

.herodiv .herobody h2 {
  font-size: 60px;
}
.herodiv .herobody h3 {
  font-size: 45px;
}
.herodiv .navitem ul {
  padding: 0;
}
.herodiv .navitem ul li {
  list-style: none;
  background-color: #02d9ca;
  color: white;
  margin: 15px 0;
  padding: 5px;
  border: 2px solid transparent;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}
.herodiv .navitem ul li:hover {
  background-color: #02d9cb88;
  border: 2px solid #02d9ca;
}

.herodiv .navitem .followDiv p {
  text-align: center;
  margin-top: 50px;
  caret-color: white;
  font-weight: bold;
  color: white;
  font-size: 18px;
}
.herodiv .navitem .followDiv div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.herodiv .navitem .followDiv div i {
  color: white;
  background-color: #02d9ca;
  padding: 6px;
  border-radius: 50%;
  font-size: 25px;
  cursor: pointer;
}

.section1Icon {
  width: 70px;
  height: 70px;
}

.singlePrograms {
  background-color: #02d9cb42;
  color: rgb(61, 60, 60);
  transition: 0.2s;
}

.singlePrograms:hover {
  color: white;
  transform: scale(108%);
  background-color: #02d9ca;
}

.singlePrograms:hover .more {
  transform: scale(120%);
  cursor: pointer;
}

.singlePrograms .more {
  background-color: white;
  width: fit-content;
  margin: 0 auto;
  padding: 5px;
  border-radius: 5px;
  color: gray;
  transition: 0.2s;
}
.navbg {
  background-color: #02d9ca;
}

.coursesBtn {
  background-color: #02d9ca;
  color: white;
}

.singleService div {
  background-position: top left;
  background-size: cover;

  border-radius: 15px;
}
.singleService div div {
  margin-top: 110px;
  box-shadow: 0px 2px 2px gray;
}
.singleService div div > p {
  font-size: 14px;

  color: rgb(71, 71, 71);
}
.singleService div div p i {
  margin-right: 15px;
}
.singleService div div button {
  width: 100%;
  padding: 5px;
  background-color: white;
  border: none;
  margin-top: 10px;
  color: #02d9ca;
  font-weight: bold;
  transition: 0.3s;
  border-radius: 5px;
}

.singleService div div button:hover {
  background-color: #02d9ca;
  color: white;
}
.singleClass div div button {
  width: 25%;
  border: 1px solid #02d9ca;
  padding: 5px;
  background-color: white;

  color: #02d9ca;
  font-weight: bold;
  transition: 0.3s;
  border-radius: 5px;
}
.singleClass div div button:hover {
  background: #02d9ca;
  color: white;
}

.reference {
  background-color: rgba(128, 128, 128, 0.651);

  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 70px;
  margin-top: 20px;
}
.reference button {
  background-color: #02d9ca;
  color: white;
  border: none;
  padding: 5px 20px;
  border-radius: 5px;
  font-weight: bold;
}

.ratingDiv div div div img {
  height: 60px;
}
.singleComments {
  width: 70%;
}
.section5 {
  background-color: #02d9cb15;
}
.section5 h3 {
  border-bottom: 5px solid #02d9ca;
  width: 220px;
  margin: auto;
  font-size: 38px;
}
@media (max-width: 550px) {
  .herobody {
    padding: 50px 20px;
  }
  .herodiv {
    background-image: url("/asset/image/chef.jpg");
    background-position: center;
    background-size: cover;
  }
  .herodiv .herobody h2 {
    font-size: 50px;
  }
  .herodiv .herobody h3 {
    font-size: 35px;
  }
  .sigledata {
    transition: 0.4s;
  }
  .sigledata.mystyle {
    transition: all 0.4s ease-in-out;
    transform: scale(1.2);
    box-shadow: 1px 0px 8px #4f5e5e;
    background-color: rgba(220, 220, 220, 0.664);
  }
  .reference {
    background-color: rgba(128, 128, 128, 0.651);

    color: white;
    font-weight: bold;
    display: block;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
    margin-bottom: 30px;
  }
  .reference button {
    margin-top: 20px;
  }
  .singleComments {
    width: 100%;
  }
}

/* ////////////////// */
